body {
	margin: 0px;
	overflow: hidden;
	text-align: center;
	background: black;
}

#viewport-container {
	margin-left: auto;
	margin-right: auto;
	width: 849px;
}

#viewport {
	left: 0px;
	width: 849px;
	height: 507px;
	background: black;
	margin-left: auto;
	margin-right: auto;
}

#debug-log {
	overflow-y: scroll;
	position: absolute;
	top: 80%;
	width: 100%;
	bottom: 0;
	font-family: monospace;
	text-align: left;
	background: white;
}

#debug-log p {
	margin: 0px;
}